.TodoItem {
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    weight: 300;
    size: 24px;
  }
  color: #4d4d4d;
}

.TodoItem-complete {
  text-decoration: line-through;
  opacity: 0.3;
}
